/*
    Document   : backbone.general
    Created on : May 5, 2010, 2:55:41 PM
    Author     : achibrikin
    Description:
        Purpose of the stylesheet follows.
*/

@import url("parts.admin/backbone.general.css");

