/* 
    Document   : mainmenu
    Created on : Mar 16, 2012, 1:49:07 AM
    Author     : alek13
    Description:
        Purpose of the stylesheet follows.
*/

.mainmenu
{
	border-bottom: solid 1px #ddd;
	/*position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background-color: #fff;*/
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

/*.mainmenu > ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.mainmenu > ul > li
{
	display: inline-block;
	padding: 6px 6px
}*/

.mainmenu > ul > li:hover
{
	background-image: -ms-linear-gradient(top, #FFFFFF 80%, #FFDD99 90%, #FF9944 95%, #FF8800 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 80%, #FFDD99 90%, #FF9944 95%, #FF8800 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 80%, #FFDD99 90%, #FF9944 95%, #FF8800 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.8, #FFFFFF), color-stop(0.9, #FFDD99), color-stop(0.95, #FF9944), color-stop(1, #FF8800));
	background-image: -webkit-linear-gradient(top, #FFFFFF 80%, #FFDD99 90%, #FF9944 95%, #FF8800 100%);
	background-image: linear-gradient(top, #FFFFFF 80%, #FFDD99 90%, #FF9944 95%, #FF8800 100%);
}


body
{
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}
