/* 
    Document   : common
    Created on : Mar 18, 2012, 1:23:05 AM
    Author     : alek13
    Description:
        Purpose of the stylesheet follows.
*/

h2
{
	padding: 0 8px;
	color: #777;
	margin: 0 0 20px 0;
}

label
{
	color: gray;
	font-size: 13px;
	margin-bottom: 2px;
	display: block;
}


/*.error
{
	background-color: #fee;
	color: darkred;
	border: solid 1px #fbb;
	padding: 6px 8px;
	margin: 4px;
	display: inline-block;
}
*/

.litle
{
	font-size	: 11px;
}
.litle, small
{
	color		: #999;
}


/*.error-page {}
.error-page h2,.error-page h3,.error-page h4 { color: #888; }
.error-page h2 var,.error-page h3 var,.error-page h4 var { color: #acd; font-style: normal }
.error-page section {  }
.error-page section .message {  }
.error-page section .actions { padding: 10px 5px }
.error-page section .actions { padding: 10px 5px }*/

.clear { clear:both; }